.info{
  margin-top: 0.75rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 12%;
}
.info img{
  padding: 0.9375rem;
  height: 25rem;
  border-radius: 1.5625rem;
  background-color: white;
}
.name{
  margin-top: 0.75rem;
  width: 23.3125rem;
  height: 6.25rem;
  font-size: 3rem;
  text-align: center;
  padding-top: 0.625rem;
  line-height: 5rem;


  background: #FFFFFF;
  box-shadow: 9px 12px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.5625rem;
}
.text{
  margin-top: 2.25rem;
  width: 49.375rem;
  height: 170px;
  padding: 2.5rem;

  background: #FFFFFF;
  box-shadow: 9px 12px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  font-size: 1.75rem;
  line-height: 2.1875rem;
  font-family: sans-serif;

  margin-bottom: 100px;
}
